body {
    background-color:rgb(62, 141, 157);
    color: white;
    font-family:'Courier New', Courier, monospace;
}

h1 {
    color:rgb(193, 226, 227);
    font-size: 65px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
span {
    color:rgb(127, 191, 194);
    font-size: 28px;
}
strong.my-strong, a.my-link, div.info {
    color: rgb(217, 210, 14);
}

.drop-caps::first-letter {
    font-size: 150%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.detail {
    margin-left: 40px;
}