.logo img {
  width: 50px;
  height: 50px;
}
  
  #navbarColor01 {
    padding-left: 75%;
  }
  
  #navbarColor01 > div {
    width: 50%;
  }
  
  img.product-image {
    width: 30px;
    height: 30px;
  }

  #totalCart {
      text-align: right;
  }

    #divPlaceOrder {
      float: right;
  }
  
  .quantity-group {
    width: 30%;
  }
  
  div.input-group {
    width: 50%;
  }
  
  input.input-number {
    max-width: 20%;
    text-align: center;
  }

  footer {
    position: absolute;
    bottom: 0;
  }