.logo img {
  width: 50px;
  height: 50px;
} 
  
  
  img.product-image {
    width: 30px;
    height: 30px;
  }

  #totalCart {
      text-align: right;
  }

    #divPlaceOrder {
      float: right;
  }

.td-quantity {
    width: 30%;
} 
  

  footer {
    position: absolute;
    bottom: 0;
  }

#navbarColor01 {
    padding-left: 75%;
}

#navbarColor01 > div {
    width: 50%;
}

div.input-group {
    width: 50%;
}

input.input-number {
    max-width: 20%;
    text-align: center;
}